<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="../css/styles.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mapa">Ubicacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="acercade.html">   Acerca de </a>
                    </li>
                </ul>
                </div>
        </nav>
        <div class="cover d-flex justify-content-end align-items-start flex-column p-5" 
        style="background-image: url(../img/fondoacercade.jpg);">
            <h1>
                Panocha
            </h1>

            <p>
                El mejor café de la ciudad
            </p>
            <button class="btn btn-primary">
                Conoce más
            </button>
        </div>

    </header>
    <section>
        <div class="container mb-5 mt-5">
            <img src="../img/chica.jpg" alt="chica sirviendo cafe" height="250" class="float-right ml-4">
            <p>
                Al escasos metros del Ramon y Cajal nos encontramos con este particular sitio. El Perro y la Galleta está abierto todo el día, por lo que aparte de un delicioso desayuno puedes disfrutar de su fantástica carta de comidas , bocadillos y ensaladas . Especial mención requiere el nombre del lugar ya que la mayoría de los platos están elaborados con galleta (os recomendamos probar las berenjenas rebozadas en galleta) y el 'perro' que reza su nombre es sin duda bienvenido en el interior (y no sólo en la decoración) ya que podemos acceder con nuestros amigos caninos.
            </p>
            <p>
                Echa un vistazo a nuestras fotos de nuestros productos y del local

                Encuentra ese lugar perfecto para ti

                Disponemos de mesas bajas, ideales para disfrutar de un completo desayuno o de un menú del día,
                además de una barra alta con con un amplio
                ventanal en el que podrás disfrutar
                de la luz del día

                ¡No te olvides de seguirnos en Instagram y Facebook
                para estar al día de las
                últimas novedades!
            </p>
            

        </div>
    </section>
    <section>
        <div class="container mb-5 mt-5">
            <div class="slider">
                <div class="slider-container">
                    <div class="image-container" style="background-image: url(../img/sirviendocafe.jpg);">
                    </div>
                    <div class="image-container" style="background-image: url(../img/mostrador.jpg);">
                    </div>
                    <div class="image-container" style="background-image: url(../img/desayuno.jpg);">
                    </div>
                    <div class="image-container" style="background-image: url(../img/cafetera.jpg);">
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>